@model DotNetCoreJquery.Models.CitiesInfo
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h1>Form Data</h1>

        <div class="row ">
            <div class="col-md-3">
                Name
            </div>
            <div class="col-md-9">
                <input type="text" id="txtName" class="form-control" onchange="return CheckValidationHide(this)">
                <span id="errName" style="color:red;"></span>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-3">
                Mobile Number
            </div>
            <div class="col-md-9">
                <input type="text" id="txtNum" maxlength="10" onkeypress="return isNumber(event)" onchange="return CheckValidationHide(this)" class="form-control">
                <span id="errNumber" style="color:red;"></span>

            </div>
        </div>
        <div class="row ">
            <div class="col-md-3">
                Email
            </div>
            <div class="col-md-9">
                <input type="text" id="txtEmail" onchange="return CheckValidationHide(this)" class="form-control">
                <span id="errEmail" style="color:red;"></span>

            </div>
        </div>

        <div class="row ">
            <div class="col-md-3">
                Country
            </div>
            <div class="col-md-9">
                
                <select id="ddlCountry" class="form-control" onchange="fnStateList(this)">

                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                State
            </div>
            <div class="col-md-9">
                <select id="ddlState" class="form-control" onchange="fnCityList()">
                    <option value="">Select state</option>
                    <option value="1">Delhi</option>
                    <option value="2">Bihar</option>
                </select>

            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                City
            </div>
            <div class="col-md-9">
                <select id="ddlCity" class="form-control">
                    <option value="">Select City</option>
                    <option value="1">Delhi</option>
                    <option value="2">Mumbai</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
               
            </div>
            <div class="col-md-9">
                <a href="javascript:void(0)" class="btn btn-primary" onclick="SaveRecord()">Submit</a>
                <a href="javascript:void(0)" class="btn btn-warning" onclick="resetForm()">Reset</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/validation.js"></script>
    <script type="text/javascript">
        

        function SaveRecord(){
            if(!ValidateInfo()){
                return false;

            }
            alert("validated form");
        }

        function ValidateInfo(){
            var result = true;

            if($('#txtName').val().trim().length == 0){
                debugger
                $("#errName").show();
                $("#errName").text("Your name is Required");
                result = false;
            }
            else{
                $("#errName").hide();
            }

            if ($('#txtNum').val().trim().length == 0) {
                debugger
                $("#errNumber").show();
                $("#errNumber").text("Your Number is Required");
                result = false;
            }
            else {
               if(fnValidateMobileNo($("#txtNum").val().trim())){
                   $("#errNumber").hide();
               }
               else{
                   $("#errNumber").show();
                   $("#errNumber").text("Enter valid Number")
                   result = false;
               }
            }

            if ($('#txtEmail').val().trim().length == 0) {
                debugger
                $("#errEmail").show();
                $("#errEmail").text("Your email is Required");
                result = false;
            }
            else {
                if (validEmail($("#txtEmail").val().trim())) {
                    $("#errEmail").hide();
                }
                else {
                    $("#errEmail").show();
                    $("#errEmail").text("Enter valid email")
                    result = false;
                }
            }
            return result;
        }

        function CheckValidationHide(x){
            let id = x.id;

            if(id=="txtName"){
                if ($('#txtName').val().trim().length == 0) {
                    debugger
                    $("#errName").show();
                    $("#errName").text("Your name is Required");
                    result = false;
                }
                else {
                    $("#errName").hide();
                }
            }
            else if(id == "txtNum"){
                if ($('#txtNum').val().trim().length == 0) {
                    debugger
                    $("#errNumber").show();
                    $("#errNumber").text("Your Number is Required");
                    result = false;
                }
                else {
                    if (fnValidateMobileNo($("#txtNum").val().trim())) {
                        $("#errNumber").hide();
                    }
                    else {
                        $("#errNumber").show();
                        $("#errNumber").text("Enter valid Number")
                        result = false;
                    }
                }
            }
            else if (id == "txtEmail") {
                if ($('#txtEmail').val().trim().length == 0) {
                    debugger
                    $("#errEmail").show();
                    $("#errEmail").text("Your email is Required");
                    result = false;
                }
                else {
                    if (validEmail($("#txtEmail").val().trim())) {
                        $("#errEmail").hide();
                    }
                    else {
                        $("#errEmail").show();
                        $("#errEmail").text("Enter valid email")
                        result = false;
                    }
                }
            }
        }

        $(document).ready(function(){
            fnCountryList();
        });

        function fnCountryList() {
            debugger;
            var CountryName = $('#ddlCountry');
            CountryName.empty();

            $.ajax({
                type: "POST",
                url: "@Url.Action("CountryData","Location")",
                
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    CountryName.append(`<option value="">Select the Country</option>`)
                    $.each(result.countryInfosList, function (index, a) {
                        CountryName.append(`
                                    <option value = "${a.cId}">${a.cName}</option>
                                `)
                    })
                    fnCityList();
                },
                error: function (res, err, status) {

                }
            })
        }

        function fnStateList(){
            debugger;
            var StateName = $('#ddlState');
            StateName.empty();
            
            $.ajax({
                type:"POST",
                url: "@Url.Action("StateData","Location")",
                data: {cid: $("#ddlCountry").val()},
                dataType:"json",
                success:function(result){
                    console.log(result);
                    StateName.append(`<option value="">Select the state</option>`)
                    $.each(result.stateInfosList, function (index, a) {
                        StateName.append(`
                            <option value = "${a.sId}">${a.sName}</option>
                        `)
                    })
                    fnCityList();
                },
                error:function(res,err,status){

                }
            })
        }

        function fnCityList(){
            var CityName = $("#ddlCity");
            CityName.empty();

            $.ajax({
                type:"POST",
                url: "@Url.Action("CityData","Location")",
                data:{cid: $("#ddlState").val()},
                datatype:"json",
                success:function(result){
                    CityName.append(`<option value="">Select the city</option>`)
                    $.each(result.cityInfosList, function(index,a){
                        CityName.append(`
                                <option value = "${a.cityId}">${a.cityName}</option>
                        `)
                    })
                },
                error:function(err,response,status){

                }
            })
        }

        function resetForm(){
            $("#txtName").val("");
            $("#txtNum").val("");
            $("#txtEmail").val("");

        }

    </script>
}
